<footer id="footer">

    <!-- Icons -->
        <ul class="icons">
            <li><a class="icon brands fa-instagram" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/{{ site.instagram_username }}"><span class="label">Instagram</span></a></li>
            <li><a class="icon brands fa-linkedin-in" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" ><span class="label">LinkedIn</span></a></li>
            <li><a class="icon brands fa-github" target="_blank" rel="noopener noreferrer" href="https://www.github.com/{{ site.github_username }}" ><span class="label">Github</span></a></li>
        </ul>

    <!-- Menu -->
        <ul class="menu">
            <li>&copy;{{ site.name }}</li>
        </ul>

</footer>