<!-- One -->
<section id="one" class="main style2 right dark fullscreen">
    <div class="content box style2">
        <header>
            <h2> {{site.one}} </h2>
        </header>
        <p> I am a current undergraduate student at the University of Virginia. I am pursuing a BSCS on a pre-medical track in the 
            school of Engineering and Applied Science as a Rodman Scholar. I am on the UVa Table Tennis Team and am currently working 
            at the UVa School of Medicine as a researcher. </p>
    </div>
    <a href="#two" class="button style2 down anchored">Next</a>
</section>