<section id="work" class="main style3 primary">
    <div class="content">
        <header>
            <h2>My Work</h2>
            <p>My work has largely focused on engineering and medical applications of state of the art engineering.</p>
        </header>

        <!-- Gallery  -->
            <div class="gallery">
                <article class="from-left">
                    <a href="images/fulls/01.jpg" class="image fit"><img src="images/thumbs/01.jpg" title="A-EYE: Affordably Examining Your Eyes" alt="" /></a>
                </article>
                <article class="from-right">
                    <a href="images/fulls/02.jpg" class="image fit"><img src="images/thumbs/02.jpg" title="i-Sight: Looking into the future" alt="" /></a>
                </article>
                <article class="from-left">
                    <a href="images/fulls/03.jpg" class="image fit"><img src="images/thumbs/03.jpg" title="Tensorflow" alt="" /></a>
                </article>
                <article class="from-right">
                    <a href="images/fulls/04.jpg" class="image fit"><img src="images/thumbs/04.jpg" title="NumbnessNoMore X UVA Orthopedics" alt="" /></a>
                </article>
            </div>

    </div>
</section>