---
permalink: /research/
---

<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
    <body class="is-preload">
        {% include nav.html %}
        <!-- Make a header with an image. from /images/intro.jpg -->
        <!-- Center all of the header.-->
        <section id="research" class="main style1 dark fullscreen">
            <div class="research">
                <header>
                    <h2>Research</h2>
                </header>
                <h3><b>A quick overview of the research that I have conducted.</b></h3>
                <footer>
                    <a href="#research-list" class="button style2 down">More</a>
                </footer>
            </div>
        </section>

        <!-- Content. -->
        <section id="research-list">
            <div class="research-list">
                <div class="div-table">
                    {% for post in site.posts limit:10 %}

                    <div class="div-table-row">
                            <div class="div-table-cell">
                                <!--
                                <div>
                                    <img src="{{ post.image }}" alt="Image 1">
                                </div>
                                -->
                                <h2><a href="{{ post.url }}">{{post.title}}</a></h2>
                                <p>{{post.description}}</p>
                            </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </section>

        <!-- Footer. -->
        {% include footer.html %}
        {% include scripts.html %}

    </body>
</html>

